<?xml version="1.0" encoding="utf-8"?>
<settings>
	<mode>basic</mode>
	<server_ip>12.12.12.12</server_ip>
	<LLM_model>qwen3-vl-2b-instruct</LLM_model>
	<LLM_gpu_use>1.0</LLM_gpu_use>
	<LLM_context_length>8192</LLM_context_length>
	<title>Phần mềm hỗ trợ nhập liệu hồ sơ hành chính công</title>
	<naps2_path>D:\NAPS2\NAPS2.Console.exe</naps2_path>
	<province>Tỉnh Bắc Ninh</province>
	<commune>Phường Tân Tiến</commune>
	<scanner_save_path>D:\scanned_files</scanner_save_path>
</settings>